/Lab1/nbproject/private/
/Lab1/build/
/Lab2/nbproject/private/
/Lab2/build/
/Lab 3/nbproject/private/
/Lab 3/build/
/Lab 4/nbproject/private/
/Lab 4/build/
/Lab 4/dist/
/Lab_4_Skeleton/nbproject/private/
/ProfileWorkareaExample_fall2025/nbproject/private/
/Lab5/nbproject/private/
